doctype html
html
  head
    title= title
    block stylesheet_external
      link(rel='stylesheet',
           href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css',
           integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb',
           crossorigin='anonymous')
      link(rel='stylesheet', href='/stylesheets/external/font-awesome.min.css')

    block stylesheet_internal
      link(rel='stylesheet', href='/stylesheets/internal/style.css')
  body
    block content
    block javascript_external
      script(src='https://code.jquery.com/jquery-3.2.1.min.js',
             crossorigin='anonymous')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js',
             integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh',
             crossorigin='anonymous')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js',
             integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ',
             crossorigin='anonymous')
      script(src='/javascripts/external/json2html/json2html.js')
      script(src='/javascripts/external/json2html/jquery.json2html.js')
    block javascript_internal
